*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

header{
    background: #6C969D;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5rem;
    border-radius: 2px;
}

nav{
    display: flex;
    gap: 8rem;
}

header a:hover {
    background: #645E9D;
    transform: scale(1.1);
    transition: transform .3s;
}

section {

    border: 1px solid blue;
    height: calc(100vh - 7rem);
}

main{
  margin-top: 7rem;
}

section h2{
    text-align: center;
}